<footer class="footer bgd-dark py-3 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
        <span class="text-muted">&copy; ExploreCamps 2021</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="row" style="font-size: 1.5rem; font-weight: 200;">
          <div class="col-3">
            <a style="color: white;" href="https://www.instagram.com/"><i class="so-media-icon fab fa-instagram"></i></a>
          </div>
          <div class="col-3">
            <a style="color: white;" href="https://www.facebook.com/"><i class="so-media-icon fab fa-facebook-f"></a></i>
          </div>
          <div class="col-3">
            <a style="color: white;" href="https://github.com/Devendra0106"><i class="fab fa-github"></a></i>
          </div>
          <div class="col-3">
            <a style="color: white;" href="https://www.linkedin.com/in/devendra-morankar-a18aa6159/"><i class="so-media-icon fab fa-linkedin-in"></a></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
